<!DOCTYPE html>
<html>
    <head>
        <title>BieberRank</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body>
        <div id="heading">
          <h1>BieberRank</h1>
          <a href="/add">Add a New Bieber</a>
        </div>

        {% for image in images %}
          <div class='container'>
            <div class='card' onclick="upvote(this)">
              <h3>{{ image.title }}</h3>
              {% if image.tags %}
                <p>
                  {% for tag in image.tags %}
                    {{ tag }}
                  {% endfor %}
                </p>
                {% endif %}
              {% if image.votes %}
                <p>Upvotes: {{ image.votes }}</p>
              {% endif %}
              <img src={{ image.image_url }}>
            </div>
          </div>
        {% endfor %}
    </body>
</html>